@charset "UTF-8";
#findButton, #addButton{
	border-radius: 10px;
}
#findButton{
	background-color:#0B7AD0;
	width:80px;
	height:40px;
	color:white;
	font-size: 22px;
}
#addButton{
	background-color:#5BC263;
	width:120px;
	height:40px;
	color:white;
	font-size: 22px;
}